.wy-nav-content {
    max-width: 1200px !important;
}

.wy-side-nav-search {
    background-color: #002147;
}

.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
    color: #fff;
}

.wy-side-nav-search input[type=text]{
    border-color: #343131;
}

