.wy-side-nav-search, .wy-nav-top {
    background-color: #002147;
}

.rst-content a {
    color: #002147;
}

img.logo {
    max-width: 80% !important;
}

.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
    color: #fff;
}

.wy-side-nav-search input[type=text]{
    border-color: #343131;
}

